{% INCLUDE 'overall_header.html' %}
{% INCLUDECSS '@dark1_memberavatarstatus/mas_header.css' %}
{% INCLUDEJS '@dark1_memberavatarstatus/mas_acp_script.js' %}

<h1>{{ MAS_EXT_NAME }}</h1>
<div>{{ lang('ACP_MAS_BY') }}&nbsp;{{ MAS_EXT_DEV }}</div>
<hr class="acp-mas-hr" />
<h2>{{ MAS_EXT_MODE }}</h2>

<form id="acp_board" method="post" action="{{ U_ACTION }}">

	<fieldset>
		<legend>{{ lang('ACP_MAS_VO_PG_AV_SET') }}</legend>
		<dl>
			<dt>
				<label for="dark1_mas_vo_pg_av">{{ lang('ACP_MAS_AVATAR') ~ lang('COLON') }}</label>
				<br>
				<div>{{ lang('ACP_MAS_VO_PG_AV_EXPLAIN') }}</div>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="dark1_mas_vo_pg_av" value="1" {% if MAS_VO_PG_AVATAR %}checked="checked"{% endif %} id="dark1_mas_vo_pg_av" /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="dark1_mas_vo_pg_av" value="0" {% if not MAS_VO_PG_AVATAR %}checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="dark1_mas_vo_pg_av_sz">{{ lang('ACP_MAS_AV_SIZE') ~ lang('COLON') }}</label>
				<br>
				<div>{{ lang('ACP_MAS_AV_SZ_SML_EXPLAIN') }}</div>
			</dt>
			<dd>
				<input type="number" min="9" max="99" size="3" maxlength="3" step="1" name="dark1_mas_vo_pg_av_sz" value="{{ MAS_VO_PG_AV_SIZE }}" oninput="mas_sync_av_size('dark1_mas_vo_pg_av_sz','div_dark1_mas_vo_pg_av_sz')" id="dark1_mas_vo_pg_av_sz" />&nbsp;{{ lang('ACP_MAS_AV_SIZE_PX') }}
				<br>
				<br>
				<div class="acp-mas-avatar-div-wrapper">
					<div id="div_dark1_mas_vo_pg_av_sz" class="mas-avatar" style="width: {{ MAS_VO_PG_AV_SIZE }}px; height: {{ MAS_VO_PG_AV_SIZE }}px;">
						{{ MAS_NO_AVATAR_IMG }}
					</div>
				</div>
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_MAS_VO_SB_AV_SET') }}</legend>
		<dl>
			<dt>
				<label for="dark1_mas_vo_sb_av">{{ lang('ACP_MAS_AVATAR') ~ lang('COLON') }}</label>
				<br>
				<div>{{ lang('ACP_MAS_VO_SB_AV_EXPLAIN') }}</div>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="dark1_mas_vo_sb_av" value="1" {% if MAS_VO_SB_AVATAR %}checked="checked"{% endif %} id="dark1_mas_vo_sb_av" /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="dark1_mas_vo_sb_av" value="0" {% if not MAS_VO_SB_AVATAR %}checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="dark1_mas_vo_sb_av_sz">{{ lang('ACP_MAS_AV_SIZE') ~ lang('COLON') }}</label>
				<br>
				<div>{{ lang('ACP_MAS_AV_SZ_SML_EXPLAIN') }}</div>
			</dt>
			<dd>
				<input type="number" min="9" max="99" size="3" maxlength="3" step="1" name="dark1_mas_vo_sb_av_sz" value="{{ MAS_VO_SB_AV_SIZE }}" oninput="mas_sync_av_size('dark1_mas_vo_sb_av_sz','div_dark1_mas_vo_sb_av_sz')" id="dark1_mas_vo_sb_av_sz" />&nbsp;{{ lang('ACP_MAS_AV_SIZE_PX') }}
				<br>
				<br>
				<div class="acp-mas-avatar-div-wrapper">
					<div id="div_dark1_mas_vo_sb_av_sz" class="mas-avatar" style="width: {{ MAS_VO_SB_AV_SIZE }}px; height: {{ MAS_VO_SB_AV_SIZE }}px;">
						{{ MAS_NO_AVATAR_IMG }}
					</div>
				</div>
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<fieldset class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />
			&nbsp;&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" onclick="mas_reset_av_size('div_dark1_mas_vo_pg_av_sz',{{ MAS_VO_PG_AV_SIZE }});mas_reset_av_size('div_dark1_mas_vo_sb_av_sz',{{ MAS_VO_SB_AV_SIZE }})" />
			{{ S_FORM_TOKEN }}
		</fieldset>
	</fieldset>

</form>

{% INCLUDE 'overall_footer.html' %}
