{% INCLUDE 'overall_header.html' %}
{% INCLUDECSS '@dark1_memberavatarstatus/mas_header.css' %}
{% INCLUDECSS '@dark1_memberavatarstatus/acp_mas_main.css' %}

<style>
	.mas-status-dot.mas-color {
		background-color: #{{ MAS_COLOR_OFFLINE }};
	}
	.mas-status-dot.mas-color:after {
		background-color: #{{ MAS_COLOR_OFFLINE }};
	}
	.mas-status-online .mas-status-dot.mas-color {
		background-color: #{{ MAS_COLOR_ONLINE }};
	}
	.mas-status-online .mas-status-dot.mas-color:after {
		background-color: #{{ MAS_COLOR_ONLINE }};
	}
</style>

<h1>{{ MAS_EXT_NAME }}</h1>
<div>{{ lang('ACP_MAS_BY') }}&nbsp;{{ MAS_EXT_DEV }}</div>
<hr class="acp-mas-hr" />
<h2>{{ MAS_EXT_MODE }}</h2>

<form class="mas-main-form" id="acp_board" method="post" action="{{ U_ACTION }}">

	<table>
		<tr>
			<td colspan="2">
				<fieldset>
					<div class="mas-credit">
						<div class="mas-credit-ext">{{ MAS_EXT_NAME }}</div>
						<div class="mas-credit-by">{{ lang('ACP_MAS_DEV_BY') }}</div>
						<div class="mas-credit-dev">{{ MAS_EXT_DEV }}</div>
					</div>
				</fieldset>
			</td>
		</tr>
		<tr>
			<td>
				<fieldset>
					<legend>{{ lang('ACP_MAS_PHPBB_AV_SET') }}</legend>
					<dl>
						<dt>
							<label>{{ lang('ACP_MAS_PHPBB_AV_LB') ~ lang('COLON') }}</label>
						</dt>
						<dd>
							<div id="allow_avatar" class="toggle-wrapper {% if MAS_PHPBB_AVATAR %}toggle-checked{% endif %}" >
								<span class="toggle">
									<span class="toggle-handle"></span>
								</span>
							</div>
						</dd>
					</dl>
					{% if not MAS_PHPBB_AVATAR %}
						<div>{{ lang('ACP_MAS_PHPBB_AV_EXPLAIN') }}<a href="{{ MAS_PHPBB_LK_AV }}">{{ lang('ACP_MAS_PHPBB_AV_SET') }}</a></div>
					{% endif %}
				</fieldset>
			</td>
			<td>
				<fieldset>
					<legend>{{ lang('ACP_MAS_PHPBB_OL_SET') }}</legend>
					<dl>
						<dt>
							<label>{{ lang('ACP_MAS_PHPBB_OL_LB') ~ lang('COLON') }}</label>
						</dt>
						<dd>
							<div id="load_onlinetrack" class="toggle-wrapper {% if MAS_PHPBB_ONLINE %}toggle-checked{% endif %}" >
								<span class="toggle">
									<span class="toggle-handle"></span>
								</span>
							</div>
						</dd>
					</dl>
					{% if not MAS_PHPBB_ONLINE %}
						<div>{{ lang('ACP_MAS_PHPBB_OL_EXPLAIN') }}<a href="{{ MAS_PHPBB_LK_OL }}">{{ lang('ACP_MAS_PHPBB_OL_SET') }}</a></div>
					{% endif %}
				</fieldset>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<fieldset>
					<legend>{{ lang('ACP_MAS_MODE_GENERAL') }}</legend>
					<table>
						<tr>
							<td>
								<dl>
									<dt>
										<label>{{ lang('ACP_MAS_AVATAR') ~ lang('COLON') }}</label>
									</dt>
									<dd>
										<div id="dark1_mas_avatar" class="toggle-wrapper {% if MAS_AVATAR %}toggle-checked{% endif %}" >
											<span class="toggle">
												<span class="toggle-handle"></span>
											</span>
										</div>
									</dd>
								</dl>
								<dl>
									<dt>
										<label>{{ lang('ACP_MAS_ONLINE') ~ lang('COLON') }}</label>
									</dt>
									<dd>
										<div id="dark1_mas_online" class="toggle-wrapper {% if MAS_ONLINE %}toggle-checked{% endif %}" >
											<span class="toggle">
												<span class="toggle-handle"></span>
											</span>
										</div>
										<br ><br >
										<div style="font-weight: bold;">
											<span class="mas-status-online">
												<span>{{ lang('ONLINE') }}</span>
												<span class="mas-status-dot mas-color" title="{{ lang('ONLINE') }}"></span>
											</span>
											<span style="font-weight: normal;">&nbsp;&nbsp;{{ lang('ACP_MAS_AND') }}&nbsp;&nbsp;</span>
											<span>
												<span>{{ lang('OFFLINE') }}</span>
												<span class="mas-status-dot mas-color" title="{{ lang('OFFLINE') }}"></span>
											</span>
										</div>
									</dd>
								</dl>
							</td>
							<td style="border-left: solid 1px #CCCCCC; padding: 0 0 0 10px;">
								<dl>
									<dt>
										<label>{{ lang('ACP_MAS_COL_ON') ~ lang('COLON') }}</label>
									</dt>
									<dd>
										<span class="num-size"><span class="num-val">{{ MAS_COLOR_ONLINE }}</span>&nbsp;<span style="background-color: #{{ MAS_COLOR_ONLINE }}">&nbsp; &nbsp;</span></span>
									</dd>
								</dl>
								<dl>
									<dt>
										<label>{{ lang('ACP_MAS_COL_OFF') ~ lang('COLON') }}</label>
									</dt>
									<dd>
										<span class="num-size"><span class="num-val">{{ MAS_COLOR_OFFLINE }}</span>&nbsp;<span style="background-color: #{{ MAS_COLOR_OFFLINE }}">&nbsp; &nbsp;</span></span>
									</dd>
								</dl>
							</td>
						</tr>
					</table>
				</fieldset>
			</td>
		</tr>
		<tr>
			<td>
				<fieldset>
					<legend>{{ lang('ACP_MAS_MODE_MEMBERLIST') }}</legend>
					<dl>
						<dt>
							<label>{{ lang('ACP_MAS_AVATAR') ~ lang('COLON') }}</label>
						</dt>
						<dd>
							<div id="dark1_mas_ml_av" class="toggle-wrapper {% if MAS_ML_AVATAR %}toggle-checked{% endif %}" >
								<span class="toggle">
									<span class="toggle-handle"></span>
								</span>
							</div>
						</dd>
					</dl>
					<dl>
						<dt>
							<label>{{ lang('ACP_MAS_AV_SIZE') ~ lang('COLON') }}</label>
						</dt>
						<dd>
							<span class="num-size"><span class="num-val">{{ MAS_ML_AV_SIZE }}</span>&nbsp;{{ lang('ACP_MAS_AV_SIZE_PX') }}</span>
						</dd>
					</dl>
					<dl>
						<dt>
							<label>{{ lang('ACP_MAS_ONLINE') ~ lang('COLON') }}</label>
						</dt>
						<dd>
							<div id="dark1_mas_ml_ol" class="toggle-wrapper {% if MAS_ML_ONLINE %}toggle-checked{% endif %}" >
								<span class="toggle">
									<span class="toggle-handle"></span>
								</span>
							</div>
						</dd>
					</dl>
				</fieldset>
			</td>
			<td rowspan="2">
				<fieldset>
					<legend>{{ lang('ACP_MAS_MODE_SEARCH') }}</legend>
					<fieldset>
						<legend>{{ lang('ACP_MAS_SH_FP_SET') }}</legend>
						<dl>
							<dt>
								<label>{{ lang('ACP_MAS_AVATAR') ~ lang('COLON') }}</label>
							</dt>
							<dd>
								<div id="dark1_mas_sh_fp_av" class="toggle-wrapper {% if MAS_SH_FP_AVATAR %}toggle-checked{% endif %}" >
									<span class="toggle">
										<span class="toggle-handle"></span>
									</span>
								</div>
							</dd>
						</dl>
						<dl>
							<dt>
								<label>{{ lang('ACP_MAS_AV_SIZE') ~ lang('COLON') }}</label>
							</dt>
							<dd>
								<span class="num-size"><span class="num-val">{{ MAS_SH_FP_AV_SIZE }}</span>&nbsp;{{ lang('ACP_MAS_AV_SIZE_PX') }}</span>
							</dd>
						</dl>
						<dl>
							<dt>
								<label>{{ lang('ACP_MAS_ONLINE') ~ lang('COLON') }}</label>
							</dt>
							<dd>
								<div id="dark1_mas_sh_fp_ol" class="toggle-wrapper {% if MAS_SH_FP_ONLINE %}toggle-checked{% endif %}" >
									<span class="toggle">
										<span class="toggle-handle"></span>
									</span>
								</div>
							</dd>
						</dl>
					</fieldset>
					<fieldset>
						<legend>{{ lang('ACP_MAS_SH_LP_SET') }}</legend>
						<dl>
							<dt>
								<label>{{ lang('ACP_MAS_AVATAR') ~ lang('COLON') }}</label>
							</dt>
							<dd>
								<div id="dark1_mas_sh_lp_av" class="toggle-wrapper {% if MAS_SH_LP_AVATAR %}toggle-checked{% endif %}" >
									<span class="toggle">
										<span class="toggle-handle"></span>
									</span>
								</div>
							</dd>
						</dl>
						<dl>
							<dt>
								<label>{{ lang('ACP_MAS_AV_SIZE') ~ lang('COLON') }}</label>
							</dt>
							<dd>
								<span class="num-size"><span class="num-val">{{ MAS_SH_LP_AV_SIZE }}</span>&nbsp;{{ lang('ACP_MAS_AV_SIZE_PX') }}</span>
							</dd>
						</dl>
						<dl>
							<dt>
								<label>{{ lang('ACP_MAS_ONLINE') ~ lang('COLON') }}</label>
							</dt>
							<dd>
								<div id="dark1_mas_sh_lp_ol" class="toggle-wrapper {% if MAS_SH_LP_ONLINE %}toggle-checked{% endif %}" >
									<span class="toggle">
										<span class="toggle-handle"></span>
									</span>
								</div>
							</dd>
						</dl>
					</fieldset>
					<fieldset>
						<legend>{{ lang('ACP_MAS_SH_UP_SET') }}</legend>
						<dl>
							<dt>
								<label>{{ lang('ACP_MAS_AVATAR') ~ lang('COLON') }}</label>
							</dt>
							<dd>
								<div id="dark1_mas_sh_up_av" class="toggle-wrapper {% if MAS_SH_UP_AVATAR %}toggle-checked{% endif %}" >
									<span class="toggle">
										<span class="toggle-handle"></span>
									</span>
								</div>
							</dd>
						</dl>
						<dl>
							<dt>
								<label>{{ lang('ACP_MAS_AV_SIZE') ~ lang('COLON') }}</label>
							</dt>
							<dd>
								<span class="num-size"><span class="num-val">{{ MAS_SH_UP_AV_SIZE }}</span>&nbsp;{{ lang('ACP_MAS_AV_SIZE_PX') }}</span>
							</dd>
						</dl>
						<dl>
							<dt>
								<label>{{ lang('ACP_MAS_ONLINE') ~ lang('COLON') }}</label>
							</dt>
							<dd>
								<div id="dark1_mas_sh_up_ol" class="toggle-wrapper {% if MAS_SH_UP_ONLINE %}toggle-checked{% endif %}" >
									<span class="toggle">
										<span class="toggle-handle"></span>
									</span>
								</div>
							</dd>
						</dl>
					</fieldset>
				</fieldset>
			</td>
		</tr>
		<tr>
			<td>
				<fieldset>
					<legend>{{ lang('ACP_MAS_MODE_VIEWFORUM') }}</legend>
					<fieldset>
						<legend>{{ lang('ACP_MAS_VF_FP_SET') }}</legend>
						<dl>
							<dt>
								<label>{{ lang('ACP_MAS_AVATAR') ~ lang('COLON') }}</label>
							</dt>
							<dd>
								<div id="dark1_mas_vf_fp_av" class="toggle-wrapper {% if MAS_VF_FP_AVATAR %}toggle-checked{% endif %}" >
									<span class="toggle">
										<span class="toggle-handle"></span>
									</span>
								</div>
							</dd>
						</dl>
						<dl>
							<dt>
								<label>{{ lang('ACP_MAS_AV_SIZE') ~ lang('COLON') }}</label>
							</dt>
							<dd>
								<span class="num-size"><span class="num-val">{{ MAS_VF_FP_AV_SIZE }}</span>&nbsp;{{ lang('ACP_MAS_AV_SIZE_PX') }}</span>
							</dd>
						</dl>
						<dl>
							<dt>
								<label>{{ lang('ACP_MAS_ONLINE') ~ lang('COLON') }}</label>
							</dt>
							<dd>
								<div id="dark1_mas_vf_fp_ol" class="toggle-wrapper {% if MAS_VF_FP_ONLINE %}toggle-checked{% endif %}" >
									<span class="toggle">
										<span class="toggle-handle"></span>
									</span>
								</div>
							</dd>
						</dl>
					</fieldset>
					<fieldset>
						<legend>{{ lang('ACP_MAS_VF_LP_SET') }}</legend>
						<dl>
							<dt>
								<label>{{ lang('ACP_MAS_AVATAR') ~ lang('COLON') }}</label>
							</dt>
							<dd>
								<div id="dark1_mas_vf_lp_av" class="toggle-wrapper {% if MAS_VF_LP_AVATAR %}toggle-checked{% endif %}" >
									<span class="toggle">
										<span class="toggle-handle"></span>
									</span>
								</div>
							</dd>
						</dl>
						<dl>
							<dt>
								<label>{{ lang('ACP_MAS_AV_SIZE') ~ lang('COLON') }}</label>
							</dt>
							<dd>
								<span class="num-size"><span class="num-val">{{ MAS_VF_LP_AV_SIZE }}</span>&nbsp;{{ lang('ACP_MAS_AV_SIZE_PX') }}</span>
							</dd>
						</dl>
						<dl>
							<dt>
								<label>{{ lang('ACP_MAS_ONLINE') ~ lang('COLON') }}</label>
							</dt>
							<dd>
								<div id="dark1_mas_vf_lp_ol" class="toggle-wrapper {% if MAS_VF_LP_ONLINE %}toggle-checked{% endif %}" >
									<span class="toggle">
										<span class="toggle-handle"></span>
									</span>
								</div>
							</dd>
						</dl>
					</fieldset>
				</fieldset>
			</td>
		</tr>
		<tr>
			<td>
				<fieldset>
					<legend>{{ lang('ACP_MAS_MODE_VIEWONLINE') }}</legend>
					<fieldset>
						<legend>{{ lang('ACP_MAS_VO_PG_AV_SET') }}</legend>
						<dl>
							<dt>
								<label>{{ lang('ACP_MAS_AVATAR') ~ lang('COLON') }}</label>
							</dt>
							<dd>
								<div id="dark1_mas_vo_pg_av" class="toggle-wrapper {% if MAS_VO_PG_AVATAR %}toggle-checked{% endif %}" >
									<span class="toggle">
										<span class="toggle-handle"></span>
									</span>
								</div>
							</dd>
						</dl>
						<dl>
							<dt>
								<label>{{ lang('ACP_MAS_AV_SIZE') ~ lang('COLON') }}</label>
							</dt>
							<dd>
								<span class="num-size"><span class="num-val">{{ MAS_VO_PG_AV_SIZE }}</span>&nbsp;{{ lang('ACP_MAS_AV_SIZE_PX') }}</span>
							</dd>
						</dl>
					</fieldset>
					<fieldset>
						<legend>{{ lang('ACP_MAS_VO_SB_AV_SET') }}</legend>
						<dl>
							<dt>
								<label>{{ lang('ACP_MAS_AVATAR') ~ lang('COLON') }}</label>
							</dt>
							<dd>
								<div id="dark1_mas_vo_sb_av" class="toggle-wrapper {% if MAS_VO_SB_AVATAR %}toggle-checked{% endif %}" >
									<span class="toggle">
										<span class="toggle-handle"></span>
									</span>
								</div>
							</dd>
						</dl>
						<dl>
							<dt>
								<label>{{ lang('ACP_MAS_AV_SIZE') ~ lang('COLON') }}</label>
							</dt>
							<dd>
								<span class="num-size"><span class="num-val">{{ MAS_VO_SB_AV_SIZE }}</span>&nbsp;{{ lang('ACP_MAS_AV_SIZE_PX') }}</span>
							</dd>
						</dl>
					</fieldset>
				</fieldset>
			</td>
			<td>
				<fieldset>
					<legend>{{ lang('ACP_MAS_MODE_REVIEW') }}</legend>
					<dl>
						<dt>
							<label>{{ lang('ACP_MAS_AVATAR') ~ lang('COLON') }}</label>
						</dt>
						<dd>
							<div id="dark1_mas_rv_av" class="toggle-wrapper {% if MAS_RV_AVATAR %}toggle-checked{% endif %}" >
								<span class="toggle">
									<span class="toggle-handle"></span>
								</span>
							</div>
						</dd>
					</dl>
					<dl>
						<dt>
							<label>{{ lang('ACP_MAS_AV_SIZE') ~ lang('COLON') }}</label>
						</dt>
						<dd>
							<span class="num-size"><span class="num-val">{{ MAS_RV_AV_SIZE }}</span>&nbsp;{{ lang('ACP_MAS_AV_SIZE_PX') }}</span>
						</dd>
					</dl>
					<dl>
						<dt>
							<label>{{ lang('ACP_MAS_ONLINE') ~ lang('COLON') }}</label>
						</dt>
						<dd>
							<div id="dark1_mas_rv_ol" class="toggle-wrapper {% if MAS_RV_ONLINE %}toggle-checked{% endif %}" >
								<span class="toggle">
									<span class="toggle-handle"></span>
								</span>
							</div>
						</dd>
					</dl>
				</fieldset>
				<fieldset>
					<legend>{{ lang('ACP_MAS_MODE_FRIENDLIST') }}</legend>
					<dl>
						<dt>
							<label>{{ lang('ACP_MAS_AVATAR') ~ lang('COLON') }}</label>
						</dt>
						<dd>
							<div id="dark1_mas_ml_av" class="toggle-wrapper {% if MAS_FL_AVATAR %}toggle-checked{% endif %}" >
								<span class="toggle">
									<span class="toggle-handle"></span>
								</span>
							</div>
						</dd>
					</dl>
					<dl>
						<dt>
							<label>{{ lang('ACP_MAS_AV_SIZE') ~ lang('COLON') }}</label>
						</dt>
						<dd>
							<span class="num-size"><span class="num-val">{{ MAS_FL_AV_SIZE }}</span>&nbsp;{{ lang('ACP_MAS_AV_SIZE_PX') }}</span>
						</dd>
					</dl>
					<dl>
						<dt>
							<label>{{ lang('ACP_MAS_ONLINE') ~ lang('COLON') }}</label>
						</dt>
						<dd>
							<div id="dark1_mas_ml_ol" class="toggle-wrapper {% if MAS_FL_ONLINE %}toggle-checked{% endif %}" >
								<span class="toggle">
									<span class="toggle-handle"></span>
								</span>
							</div>
						</dd>
					</dl>
				</fieldset>
			</td>
		</tr>
	</table>

</form>

{% INCLUDE 'overall_footer.html' %}
