<!-- IF ( SCRIPT_NAME eq 'memberlist' and ( MAS_ML_AVATAR or MAS_ML_ONLINE ) ) or ( SCRIPT_NAME eq 'viewonline' and MAS_VO_PG_AVATAR ) or ( SCRIPT_NAME eq 'viewforum' and ( MAS_VF_FP_AVATAR or MAS_VF_FP_ONLINE or MAS_VF_LP_AVATAR or MAS_VF_LP_ONLINE or MAS_VO_SB_AVATAR ) ) or ( SCRIPT_NAME eq 'search' and ( MAS_SH_FP_AVATAR or MAS_SH_FP_ONLINE or MAS_SH_LP_AVATAR or MAS_SH_LP_ONLINE ) ) or ( SCRIPT_NAME eq 'viewtopic' and MAS_VO_SB_AVATAR ) or ( SCRIPT_NAME eq 'index' and ( MAS_VF_LP_AVATAR or MAS_VF_LP_ONLINE or MAS_VO_SB_AVATAR ) ) -->
	<!-- INCLUDECSS @dark1_memberavatarstatus/mas_header.css -->
	<div class="MAS" style="display: none;">{MAS_EXT_NAME}&nbsp;&laquo;&nbsp;{MAS_EXT_DEV}</div>
<!-- ENDIF -->
