<!-- IF ( SCRIPT_NAME eq 'memberlist' and ( MAS_ML_AVATAR or MAS_ML_ONLINE ) ) or ( SCRIPT_NAME eq 'viewonline' and MAS_VO_PG_AVATAR ) or ( SCRIPT_NAME eq 'viewforum' and ( MAS_VF_FP_AVATAR or MAS_VF_FP_ONLINE or MAS_VF_LP_AVATAR or MAS_VF_LP_ONLINE or MAS_VO_SB_AVATAR ) ) or ( SCRIPT_NAME eq 'search' and ( MAS_SH_FP_AVATAR or MAS_SH_FP_ONLINE or MAS_SH_LP_AVATAR or MAS_SH_LP_ONLINE or MAS_SH_UP_AVATAR or MAS_SH_UP_ONLINE ) ) or ( SCRIPT_NAME eq 'viewtopic' and MAS_VO_SB_AVATAR ) or ( SCRIPT_NAME eq 'index' and ( MAS_VF_LP_AVATAR or MAS_VF_LP_ONLINE or MAS_VO_SB_AVATAR ) ) -->
	<!-- INCLUDECSS @dark1_memberavatarstatus/mas_header.css -->
	<meta name="MAS" content="{MAS_EXT_NAME}={MAS_EXT_DEV}" />
<!-- ENDIF -->
